<div class="group rounded-lg border bg-white">
  <a href="#" class="w-full overflow-hidden rounded-t-lg bg-gray-200">
    <img [src]="product.image" [alt]="product.title" class="h-full w-full object-cover object-center group-hover:opacity-75">
  </a>
  <div class="flex flex-col space-y-2 p-4">
    <h3 class="text-sm text-gray-700">{{ product.title }}</h3>
    <p class="text-lg font-medium text-gray-900">{{product.price}} Bs.</p>
    <p class="text-sm font-medium text-gray-500">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequuntur dignissimos doloribus illum iure laboriosam magnam maxime minima nam nobis nulla omnis porro possimus provident, quae, quisquam suscipit veritatis voluptate?</p>
    <button class="text-black bg-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 w-full" (click)="addToCartHandler()">Adicionar</button>
  </div>
</div>
