<div class="px-10">
  <h1 class="text-lg font-bold">About</h1>
  <p class="text-xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta earum illo impedit iste, quos ratione repellat
    sapiente. Ab amet, architecto, consequuntur dolor error odio perspiciatis praesentium provident reprehenderit vero
    voluptatum?</p>
  <p class="text-xs">Numero de clientes
    <app-counter [duration]="duration()" [message]="message()" *ngIf="duration() > 0"/>
  </p>
  <div>
    <app-wave-audio audioUrl="assets/audio.mp3"/>
  </div>
</div>



